*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 80%;
    padding: 34px;
    margin: auto;
}

.container h1{
    text-align: center;
    font-family: 'Srichara', cursive;
    font-size: 40px;
}

p{
    text-align: center;
    font-family: 'Srichara', cursive;
    font-size: 17px;
}

h3{
    font-size: 17px;
}



input, textarea{
    margin: auto;
    font-size:16px;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    width: 80%;
    margin: 11px auto;
    padding: 7px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color: white;
    background: purple;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}

.bg{
   width: 100%;
   position: absolute;
   z-index: -1;
   opacity: 0.8; 
}

.submitMsg{
    font-size: 20px;
    color: green;

}